
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quattrocento:wght@400;700&display=swap');

:root{
    /* Dimentions */
    --width-full: 100%;
    --width-12col: 1200px;

    

    /* Grid settings  */
    --grid-gap: 10px;
    --padding-default: 10px;

    /* Colours */
    --Midnight_blue:#132A2C;
    --Cloud_white:#FFFEF9;
    --Blue_grey:#A6AEC0;
    --Light_lavanda:#C6D4E9;
    --Light_mint_green:#D1E8C6;
    --Bright_green:#8ae35f;
    --Sutle_green:#03735F;
    
    /* Fonts    */
    --Font_Oswald:"Oswald", serif;
    --Fond_Q:"Quattrocento", serif;
}

    /* Reset CSS */
    * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--Font_Oswald);
  }

.body{
    font-family: var(--Font_Oswald);
    background-color: var(--Cloud_white);
    min-height: 100vh;
    
}


.main_container{
    
    font-family: var(--Font_Oswald);
    height: auto;
    width: var(--width-full);
    padding-bottom: 100px;
    background-color: var(--Cloud_white);
    margin: 0 auto;
    
  }


/* Header */

header{
    position: relative;
    width: var(--width-full);
    max-height: 100px;
    background-color:var(--Cloud_white);
    z-index: 2;
    
}
.logo {     
    
    padding:10px 0;
    
    
    
}

.navigation_bar{

    display: flex;
    justify-content: space-between;  
    flex-grow: 0;
    align-items: center;  
    background-color: var(--Cloud_white);
    padding: 10px 10px;
    max-width: var(--width-12col);
    max-height: 100px;
    margin: 0 auto;
}

.logo img{
    width: 100px;
    height: 70px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    
   }
.logo img:hover{
    scale:120%
    
}

.mobile_look{ 
    display:none;
   
}

.menu_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    
}
.menu_look{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;    
    color: var(--Midnight_blue);
    
    
        
}
.menu_look li {
    padding: 10px 10px;
    
}
.menu_look li a{
    font-family: var(--Fond_Q);
    font-size: 18px;
}

.social_media {
    display: flex;
    justify-content: space-around;
    border-right: 1px solid var(--Midnight_blue);
    
    
}
.social_media i{
    font-size: 20px;
    color: var(--Midnight_blue);
    padding: 0 10px;

}


.menu_container>i{
    padding-left: 40px;
    font-size: 24px;
    
}
    
.menu_container i:hover{
    scale: 120%;
}

.menu_look a{
    position: relative;
    text-decoration: none;
    color: var(--Midnight_blue);
   
}
.menu_look a::before{
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--Light_mint_green);
    transition: width 0.3s ease;

}
.menu_look a:hover::before {
    width: 100%;
   

}


/* kw test for github - test 2 */

  

.main_button{
    width: fit-content;
    height: fit-content;
    padding: 10px 30px ;
    background-color: var(--Bright_green);
    border-radius: 5px;
    border: none;
    margin: 0 10px;
}
.main_button a{
    text-decoration: none;
    color: var(--Midnight_blue);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--Font_Oswald);
    
}

.main_button:hover{
    scale: 110%;
   
 }




/* FORSIDE ---------------------------------------------------------------------------------------------------------------*/
.front_page_hero{
  
    max-width:var(--width-full);
    height: 720px;
    background-image: url(/img/Turtle_hero_image.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 auto;
    background-color: var(--Cloud_white);
}

.front_page_hero_box{
    max-width: var(--width-12col);
    height: inherit;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10% 40% 25% 25%;
    gap:var(--grid-gap);
    margin: 0 auto; 
    padding: 0 10px;
       
    
}
.fp_hero_text_left{
    grid-column: 1/span 6;
    grid-row: 2;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;


}
.fp_hero_text_right{
    grid-column:8/span 5;
    grid-row:3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    font-family: var(--Font_Oswald);
    font-size: 63px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--Midnight_blue);
}
.fp_hero_text_right p{
    font-family: var(--Fond_Q);
    font-size: 32px;
    font-weight: 500;
    color: var(--Midnight_blue);
}
.placeholder{
    height: 200px;
}




/* FÆLLESSKABSSIDE ------------------------------------------------------------------------------------------------------ */
/* Hero section */

.hero_f {
    width: var(--width-full);
    background-image: url(/img/Vi\ står\ sammen.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 80px;
    }


    .test {
        color:red;
    }


.hero_container_f {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    height: 100%;
    width: var(--width-12col);
    margin: 0 auto 0 auto;
}
    
.hero_text_f {
   font-family: var(--Font_Oswald);
   font-size: 48px;
   grid-column: 1 / span 6;
   grid-row: 1;
   padding-top: 20px;
   text-transform: uppercase;
   padding-left: 10px
}



/* TAG HANDLING ---------------------------------------------------------------------------------------------------------- */



.filler_block_content_handling_hero_img {
    background-image: url("/img/Tag\ handling.jpg");
    background-size: cover;
    width: 100%;
    height: 680px;
}

.filler_block_content_handling_hero_img p { /* Text på hero img */
    font-family: var(--Font_Oswald);
    font-size: 32px;
    text-align: center;
    color: var(--Midnight_blue);
    padding-top: 350px;
    text-transform: uppercase;
    font-weight: 600; /*makes it more bold */
}

.filler_block_content_handling{ /*filler block mellem hero og footer*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    margin: 0 auto 0 auto;
    height: 3200px;
    background-color:var(--Cloud_white) ;
}

.filler_block_content_handling_filler_dark{ /*mørk boks under hero img*/
    width: var(--width-12col);
    height: 80px;
    background-color: var(--Midnight_blue);
    margin-top: 60px;
}

.filler_block_content_handling_filler_dark p { /*tekst under hero img */
    color: var(--Cloud_white);
    font-family: var(--Font_Oswald);
    font-size: 32px;
    text-transform: uppercase; /*writes the text in caps */
}


.tag_handling_boxes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.tag_handling_boxes1 txt-box {
    background-color: #132A2C;
}










/*End of TAG HANDLING*/

/* SKRIV UNDER ----------------------------------------------------------------------------------------------------------- */

.hero-container-underskriv-img {
    background-image: url('https://picsum.photos/1920/800');
    grid-column: 8 span 5;
    height:auto;
    min-height:600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 30px;
    margin-bottom: 80px;
    color:var(--Midnight_blue);

 }

.hero-container-underskriv {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    width:var(--width-12col);
    gap:var(--grid-gap);
    margin: auto;
    height: auto;
}
  
.hero-text-underskriv {
    grid-column: 6/ span 6;
    margin:20px auto auto 20px;
    grid-row: 1;
}
.underskriv-big-header {
    font-size:32px;
    font-weight: 700;
    text-transform: uppercase;
    text-wrap: nowrap;
    text-transform: uppercase;

}
  
.sign-box {
    margin: 30px ;
    background-color: var(--Light_lavanda);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: auto;
}
.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: var(--Light_mint_green);
    border-radius: 50%;
    color: var(--Cloud_white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

.line {
    width: 100px;
    height: 2px;
    background-color: var(--Light_mint_green);
}

.timeline .circle:first-child {
    margin-left: 0;
}

.timeline .circle:last-child {
    margin-right: 0;
}

.timeline .line:nth-child(odd) {
    margin-top: 12px;
}


.sign-box-h2 {
    text-wrap: wrap;
    font-size: 32px;
    text-align: start;
    margin-left: 20px;
    margin-bottom: 20px;
}
.sign-box-h3 {
    text-wrap: wrap;
    font-size: 18px;
    text-align: start;
    margin-left: 20px ;
    margin-bottom: 20px;
}

.signature-area input {
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}


.buttons button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color var(--Midnight_blue);
    text-transform: uppercase;
    background-color: var(--Light_mint_green);
}

.buttons button:hover {
    background-color: var(--Midnight_blue);
    color: var(--Cloud_white);
    scale: 100%;
}
.privatlivs-text {
    font-size: 12px;
    text-align: start;
    margin-left: 20px ;

}

.hero-text-underskriv p {
    grid-column: 8 / span 4;
    margin-top:200px;
    grid-row: 1;
    font-family: var(--Font_Oswald);
}
.brug-din-stemme-heading h2{
    height: 80px;
    background-color: var(--Midnight_blue);
    color:var(--Cloud_white);
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 px;
    width: var(--width-full);
    margin: 20px auto ;
    text-wrap: wrap;
    font-family: var(--Font_Oswald);
  
}

.brug-din-stemme {
    height: fit-content;
    width: var(--width-12col);
    display: grid;
    grid-template-columns: 1fr 1fr;  
    grid-template-rows: 1fr 1fr;    
    gap: var(--grid-gap);
    margin: 20px auto 20px auto;
  }

.brug_din_stemme_content_block_image img {
    height: 405px;
    width: 595px;

    background-size: cover;
    background-position: center ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  
}
.brug_din_stemme_content {
    display: grid;
       
    gap: var(--grid-gap);
    box-sizing: border-box;
    width: 595px;
  }

.brug_din_stemme_content_block {
    background-color: var(--Light_lavanda);
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px dark var(--Cloud_white);
}
.brug_din_stemme_content_block_text_top h5 {
    font-size: 22px;
    font-weight: 700; 
    text-transform: uppercase;
    margin: 0 0 10px 0; 
    font-family: var(--Font_Oswald);
    


}
.brug_din_stemme_content_block_text_top p {
    font-size: 16;
    font-family: 'font Q', sans-serif;

}

.brug_din_stemme_content_block_text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
    color:var(--color_dark);


}
.brug_din_stemme_content_block_bottom_area {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
    
}
.brug_don_stemme_content_block_bottom_area_right button {
    background-color: var(--color_dark);
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 16px;
    cursor: pointer;
  }
  
.brug_din_stemme_content_block_bottom_area_right button a {
    color: var(--color-light);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
  
}

.underskriv_video_overskrift h2{
    height: 80px;
    background-color: var(--Midnight_blue);
    color:var(--Cloud_white);
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 px;
    width: var(--width-full);
    margin: 20px auto ;
    text-wrap: wrap;
    font-family: var(--Font_Oswald);
  
}

.underskriv_video_box {
    width: var(--width-12col);
    margin: 70px auto;
}


/* FOOTER----------------------------------------------------------------------------------------------------------------*/
.footer{
    
    height: auto;
    width: 100%;
    background-color:var(--Midnight_blue);

}
.foot_container{
    max-width:var(--width-12col) ;
    background-color: var(--Midnight_blue);
    display: flex;
    justify-content:space-between;
    align-items: start;
    margin: 0 auto;
    padding: 20px 10px;
    
}
.foot_container ul{
    list-style: none;
    color: var(--Cloud_white);
}
.footer_left p{
    font-family: var(--Fond_Q);
    font-size: 18px;    
}
.footer_left li{
    padding:0 0 10px 0;
}
.footer_left i{
    font-size: 20px;
    padding:10px 10px 0 0 ;
    color: var(--Cloud_white);
}
.footer_center li{
    font-family: var(--Fond_Q);
    font-size: 18px;
    line-height: 24px;
    
}
.footer_right{
    margin-left: 200px;
}
.footer_right li{
    font-family: var(--Font_Oswald);
    text-align: right;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: end;

}
.copyright p{
    font-family: var(--Fond_Q);
    font-size: 12px;
    text-transform: none;
    padding: 10px 0 0 10px;
}
.copyright i{
    font-size: 12px;
    padding: 10px 0 0 0;
}
 
    



































@media (width<769px){ 

    /* Hidden navigation bar */

    .menu_container {        
        position: absolute;   
        top:100px;
        right:0;
        width: 0;
        /* height: 0; */
        height: calc(100vh - 100px);
        background-color: var(--Midnight_blue);
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: start; */
        gap: 20px;        
        z-index: 1;
        overflow: hidden;
        transition: width 0.4s ease-in-out;
                
    }

   
    .menu_container>i{
        display: none;
    }
    .social_media{
        border: none;
       
    }
    .menu_look .social_media i{
        color: var(--Cloud_white);
        font-size: 28px;
    }
    
    .menu_look{
        flex-direction: column;
        align-items: center;
        
    }
    .menu_look a{
        color: var(--Cloud_white);
    }
    
    
  
    .mobile_look{
        order: 3;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 9px;
                       
      
        padding: 0 10px;

    }
    .mobile_look span{
        width: 30px;
        height: 2px;
        background-color: var(--Midnight_blue);
        transform-origin: left;
        transition: 0.5s ease;
       

    }

    /* Trigger for navigation bar - checkbox */
    .mobile_look input{
        position:absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 2;
        cursor: pointer;
        appearance: none;
        
    }

    /* To change hamburger into the cross sign */

    .mobile_look input:checked~.second_line{
        opacity: 0;
    }
    .mobile_look input:checked~.first_line{
        transform: rotate(45deg);
    }
    .mobile_look input:checked~.third_line{
        transform: rotate(-45deg);
    }

    /* Makes hidden navigation bar to appear */

    .navigation_bar:has(input:checked) > .menu_container{
        /* height: calc(100vh - 100px); */
        width: 100%;
    }

    /* Front page hero */
    .front_page_hero{
      position: relative;
      width: 100%;
      height: 100%;
      top: 130px;
      
    }
    .front_page_hero_box{
        position: relative;
        top: -130px;
        display: grid;
        grid-template-columns:25% 25% 25% 25%;
        grid-template-rows: 130px 130px;
        gap: var(--grid-gap);
        width: 100%;
        height: 100%;


    }
    .fp_hero_text_left{
        grid-column: 1/span 3;
        grid-row: 1;
        align-items: center;
    }
    h1{
        font-size: 42px;
    }
    .fp_hero_text_right{
        grid-column: 1/ span 2;
        grid-row: 2;
    }
    .fp_hero_text_right p{
        font-size: 20px;
    }

   
/*     
    Footer */

    .footer_left p{
        display: none;
    }
   .footer_left i{
    font-size: 24px;
    color: var(--Cloud_white);
   }

    .footer_center{display: none;}
    .foot_container{
        flex-direction: column;
        align-items: center;
    }
    .foot_container ul:last-child{
        order: -1;
    }
    .footer_right{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        
    }
    .footer_right>li:last-child{
        order: -1;
    }


    /*Tag handling @media <769px----*/
    .filler_block_content_handling_hero_img {
        background-image: url("/img/Tag\ handling.jpg");
        width: 100%;
        height: 350px;
    }
    
    .filler_block_content_handling_hero_img p {
        font-size: 32px;
        text-align: center;
        padding-top: 100px;
    }

    /* end Tag handling ---*/ 
    

    


}


@media (width<415px){
      
    .main_button {
        font-size: 16px;
        padding: 10px;
             
        
    }







/*Tag handling @media <400px----*/

.filler_block_content_handling_hero_img {
    background-image: url("/img/Tag\ handling.jpg");
    width: 100%;
    height: 265px;
}

.filler_block_content_handling_hero_img p {
    font-size: 32px;
    text-align: center;
    padding-top: 100px;
}

/* end Tag handling ---*/ 


}